body {
  margin: 0px;
  background-color: lightskyblue;
}
.topnav1 {
  background-color: rgb(236, 136, 21);
  color: whitesmoke;
  padding: 20px 0px 20px 20px;
  display: flex;
  justify-content: space-evenly;
}
#d,
#e,
#f,
#g {
  color: black;
}

.HERO {
  background: url(https://img.freepik.com/free-vector/gradient-abstract-wireframe-background_23-2149009903.jpg?semt=ais_hybrid&w=740&q=80);
  background-size: cover;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.herocontent {
  font-size: 22px;
  text-align: center;
}

.a {
  color: whitesmoke;
}

.b {
  color: white;
}

.c {
  background-color: white;
  width: 100px;
  border-radius: 8px;
  padding: 6px;
}
.heading1 {
  margin: 30px 0 0 0;
  display: flex;
  justify-content: center;
  gap: 420px;
  align-items: center;
}
.h1a {
  font-size: 22px;
  color: black;
}
.h1b:hover {
  width: 450px;
  height: 350px;
  background-color: lightskyblue;
}
.heading2 {
  margin: 30px 0 0 0;
  display: flex;
  gap: 420px;
  justify-content: center;
  align-items: center;
}
.h2a {
  font-size: 22px;
  color: black;
}
.h2b:hover {
  width: 450px;
  height: 350px;
  background-color: lightskyblue;
}
.topnav2 {
  background-color: rgb(236, 136, 21);
  color: whitesmoke;
  display: flex;
  margin: 80px 0px 0px 0px;
  height: 80px;
  align-items: center;
  justify-content: space-evenly;
}
